{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block content %}
    <p>Welcome to Create Group {{ user.username }} !!!</p>
    <p> User groups {{ user.groups.all }}</p>
    <form id="GroupForm" method = "post" action= "/createGroup/">

    {%  csrf_token  %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

    <input type="submit" name="createGroup" value="CreateGroup"/>
    </form>
    <a href="/logout/">Logout</a>
    <a href="/home/">Back</a>

{% endblock %}