{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block content %}
    <p>Welcome {{ user.username }} !!!</p>
    <form method="post" action=".">{% csrf_token %}
    <input type="hidden" name="next" value="groups" />
    </form>
    <a href="/createGroup/">Create Group</a><br/>
    <a href="/createMessage/">Send Message</a><br/>
    <a href="/YourGroups">View your groups</a><br/>
    <a href="/createReport/">Create Report</a>
    <a href="/logout/">Logout</a>
{% endblock %}