{% extends "base.html" %}
{% block title %}Sent Messages{% endblock %}

{% block content %}
    <div class="container" align="center" style="font-size: large">
    <h1><i class="fa-ul fa fa-comment-o"></i>Sent Messsages</h1>

    <title>All Sent Messages</title>
    {% for message in messages %}
    <i class="fa-ul fa fa-shekel fa-spin"></i>
    <a href= '{{message.id}}'><td>{{ message.message_title }}</td></a> <h>{{ message.receiver }}</h></ul>

    {% endfor %}
    </table>
    </body>
    </br><a href="/messageHome/">Back</a>
    </br><a href="/logout/">Logout</a>
    </div>

{% endblock %}