{% extends "base.html" %}
{% block title %}Check Messages{% endblock %}

{% block content %}
    <div class="container" align="center" style="font-size: large">


   <h1><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>All Received Messages</h1>



    {% for message in messages %}
<a href= '/checkMessage/{{message.id}}'><td>{{ message.message_title }}</td></a> <h>{{ message.sender }}</h></ul>
    {% endfor %}
    </table>
    <br>
    </body>
    <br>
    <br>
    </br>
    <a href="/messageHome/">Message Home</a></br>
    <a href="/logout/">Logout</a>

    </div>
{% endblock %}