{% extends "base.html" %}

{#{% block title %}Messaging{% endblock %}{% block icon %}<i class="fa fa-comment-o fa-5x" aria-hidden="true"></i>{%  endblock %}#}
{#{% block head %}Messaging{% endblock %}#}
{% block content %}
    <h1 id="messageh1">Messaging<i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></h1>
    <p>Welcome {{ user.username }} !!!</p>

    <a href="/allMessages/">Check Sent Message</a> Outbox {{ newS }}/{{ oldS }} (New)<br/>
    <a href="/checkMessage/">Check Recieved Message</a> Inbox {{ newR }}/{{ oldR }} (New)<br/>
    <a href="/createMessage/">Create New Message</a><br/>
    <br/>
    <br/>
    <a href="/home/">Home</a><br/>
{% endblock %}