{% extends "base.html" %}
{% block title %}Sent Messages{% endblock %}
{% block head %}{{ message.message_title }}{% endblock %}
{% block content %}
    <p>{{ message.message_body }}</p>
    <p> Sent To: {{ message.receiver }}</p>
    <p> By: {{ message.sender }}</p>
    <form method="post" action=".">
    <p> Private Key: {{ form.privateKey }}</p>
    <input type="submit" value="Decrypt" />
    </form>
    <p> {{ decrypt }}</p>
    </br>
    <a href="/deleteMessage/{{ message.id }}"> Delete Message</a><br>
    <a href="/checkMessage">To Recieved Messages</a> <br>
    <a href="/allMessages/">To Sent Messages</a> <br>
    <a href="/messageHome/">To messageHome</a> <br>
    <a href="/logout/">Logout</a>
{% endblock %}