{% extends "base.html" %}
    <div class="container" align="center" style="font-size: large">
<h1>Sent Message(s)</h1>


{% block head %}<div class="container" align="center" style="font-size: large">{{ message.message_title }}</div>{% endblock %}
            <

{% block content %}
    <div class="container" align="center" style="font-size: large">

    <p>{{ message.message_body }}</p>
    <p> Sent To: {{ message.receiver }}</p>
    <p> By: {{ message.sender }}</p>
    <form method="post" action=".">
    <p> Private Key: {{ form.privateKey }}</p>
    <input type="submit" value="Decrypt" />
    </form>
    <p> {{ decrypt }}</p>
    </br>
    <a href="/deleteMessage/{{ message.id }}"> Delete Message</a><br>
    <a href="/checkMessage">To Recieved Messages</a> <br>
    <a href="/allMessages/">To Sent Messages</a> <br>
    <a href="/messageHome/">Message Home</a></br>
    <a href="/logout/">Logout</a>
            </div>

{% endblock %}