{% extends "base.html" %}

    {% block content %}
                <div class="container" align="center" style="font-size: large">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <script src="../../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/js/addMember.js"></script>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Users</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            {% if not user.is_superuser %}
                {% with user.username as uName %}
                <tr>
                {% if not uName == current_user.username  %}
                    <td id="{{ uName }}">{{ uName }}</td>
                    <td>{{ user.email }}</td>
                    {% if user not in groupUsers %}
                        <td><button onclick="addToGroup({{ uName }}, {{ g_id }})">Add</button></td>
                    {% endif %}
                    {% if user in groupUsers and not current_user.is_superuser %}
                        <td><button disabled>Already in group!</td>
                    {% endif %}
                    {% if user in groupUsers and current_user.is_superuser %}
                        <td><button onclick="removeFromGroup({{ uName }}, {{ g_id }})">Remove</button></td>
                    {% endif %}


                {% endif %}
                </tr>
                {% endwith %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
<a href="/logout/">Logout</a>
    </br>
<a href="/home">Back</a>
</body>
</html>
                {% endblock %}