{% extends "base.html" %}

    {% block content %}
            <div class="container" align="center" style="font-size: large">

        <p>Welcome to Create Group{{ user.username }} !!!</p>
    <form method="post" action="/createGroup/">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" name="createGroup" value="Create Group"/>
         {% for user in users %}
             <input type="checkbox" name="selected_user[]" value="{{ user.username }}"/> {{ user.username }}

         {% endfor %}
    </form>

        <a href="/viewReport/">View Reports</a></br>
        <a href="/viewFolder/">View Folders</a>
        </br><a hred="/folderHome/">Folder Home</a>
        </br><a href="/home/">Home</a>
        <br><a href="/groupHome/">Group Home</a>

        <br>
    <a href="/logout/">Logout</a>
            </div>

{% endblock %}