{% extends "base.html" %}

{#{% block title %}Messaging{% endblock %}{% block icon %}<i class="fa fa-comment-o fa-5x" aria-hidden="true"></i>{%  endblock %}#}
{#{% block head %}Messaging{% endblock %}#}
{% block content %}
            <div class="container" align="center" style="font-size: large">

    <h1 id="messageh1">Groups<i class="fa fa-cubes fa-2x"></i></h1>
    <p>Welcome {{ user.username }} !!!</p>
        {% if not Suspended %}
         <ul style="list-style-type:none">
             <br>
             <li><a href="/createGroup/">Create Group</a></li>
             <br>
             {% if not SM %}
                    <a href="/YourGroups">View Your Groups</a><br/>
                {% endif %}
                {% if SM %}
                    <a href="/YourGroups">View All Groups</a><br/>
                {% endif %}
                {% if SM %}
                    <a href="/changeUserRoles/">Change User roles</a><br/>
                {% endif %}
         <br>
    <button><a href="/home/">Back</a></button>
            </ul>
            {% endif %}
            {% if Suspended %}
                <p>You have been suspended. Please contact a Site Manager with any queries.</p>
            {% endif %}
    </div>
{% endblock %}ack</a><br/>