{% extends "base.html" %}

{#{% block title %}Messaging{% endblock %}{% block icon %}<i class="fa fa-comment-o fa-5x" aria-hidden="true"></i>{%  endblock %}#}
{#{% block head %}Messaging{% endblock %}#}
{% block content %}
            <div class="container" align="center" style="font-size: large">

    <h1 id="messageh1">Groups<i class="fa fa-cubes fa-2x"></i></h1>
    <p>Welcome {{ user.username }} !!!</p>

         <ul style="list-style-type:none">
           <li><a href="/createReport/">Create Report</a></li>
            <br>
            <li><a href="/deleteReport/">Delete Reports</a></li>
             <br>
             <li> <a href="/displayUsers/">Users </a></li>
             <br>
             <li><a href="/createGroup/">Create Group</a></li>
             <br>
    <button><a href="/home/">Back</a></button>
            </ul>
    </div>
{% endblock %}ack</a><br/>