{% extends "base.html" %}

    {% block content %}
                <div class="container" align="center" style="font-size: large">
<body>

<ul style="list-style-type:none" align="center">

    <h1>Group(s):</h1>
    {% for group in groups %}
        <li>Click Me for Group Actions<i class="fa fa-arrow-right" aria-hidden="true"></i>
<a href="/group/{{ group.id }}">{{ group.name }} </a></li>
    {% endfor %}

    </br>
    </br>
    <a href="/home/"> Home</a>

</ul>
</body>
                </div>
{% endblock %}